.k{
    position: relative;
    left: 50px;
    height: 100px;
    width: 100px;
    background-color: rgb(156, 56, 56);
}

.o{
    position: relative;
    left: 100px;
    height: 100px;
    width: 100px;
    background-color: darkcyan;
}

.m{
    position: relative;
    left: 150px;
    height: 100px;
    width: 100px;
    background-color: indianred;
}
.a{
    position: relative;
    left: 200px;
    height: 100px;
    width: 100px;
    background-color: rgb(136, 123, 148);
}
.l{
    position: relative;
    left: 250px;
    height: 100px;
    width: 100px;
    background-color: rgb(150, 76, 123);
}